* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container {
    width: 100vw;
    height: 100vh;
    background: #222;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.btn {
    border: 2px solid transparent;
    border-radius: 10px;
    padding: 6px 20px;
    background: #505050;
    color: #fff;
}

.btn:hover {
    border: 2px solid #fff;
}

.btn:not(:last-child){
    margin-bottom: 10px;
}